:host {
  display: block;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", ui-sans-serif, system-ui;
}

* {
  transition-property: background-color, border-color, color, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
